/* Simple CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: sans-serif;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}


@media (prefers-color-scheme: dark) {
  * { background: #333 !important; color: whitesmoke !important; }
}

@media (prefers-color-scheme: light) {
  * { background: whitesmoke !important; color: black !important; }
}
